doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href='https://www.usa.edu/wp-content/cache/asset-cleanup/css/head-226b41bef9e7a9be0d5bbe2de32eee098f0d1441.css', rel="stylesheet")
		link(href='https://www.usa.edu/wp-content/plugins/superside-me/includes/css/supersideme-style.css', rel="stylesheet")

	body.landing-page.full-width-content
		.site-inner
			.content
				.entry
					#siege-wrapper
						h1.entry-title Registered nurses available by state
						p.tagline Click on a state to reveal the statistics or use the dropdown menu below.
						.gform_wrapper
							#map
								.map-outer-wrapper
									.map-wrapper
								.tools
				